<html>
<table border=1 align="center">
<div align="center"><h1>图书管理系统</h1></div>
<<div align="center"><a href="/search/">返回</a></div>
<form method="post">
{% csrf_token %} 
<table border=1 align="center">
 <tr>
    <th>作者ID</th><th>出版人</th><th>出版日期</th><th>价格</th>
 </tr>
 <tr>
  <td><input name="AuthorID" type="text"></td>
  <td><input name="Publisher" type="text"></td>
  <td><input name="PublishDate" type="text"></td>
  <td><input name="Price" type="text"></td>  
  <td><input type="submit" value="保存"> <input type="reset" value="重填"></td>
 </tr>
</table>
</form>